@import url();

@font-face {
  font-family: STIX Two;
  src: url(STIXTwoText[wght].ttf);
}

@font-face {
  font-family: STIX Two;
  font-style: italic;
  src: url(STIXTwoText-Italic[wght].ttf);
}

/* ALL ELEMENTS */

html {
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3vw;
  margin-right: 3vw;
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
  max-width: 94vw;
  overflow-x: hidden;
  font-family: "STIX Two";
  font-size: large;
}

/* * { border: 1px solid red !important; } */

/* GENERAL CLASSES */

/* GENERAL RULES FOR TAGS */

a {
  text-decoration: none;
  color: #000;
}

p {
  max-width: 72ch;
  transform-origin: left center;
}

h1 {
  font-size: large;
  max-width: 94vw;
}

img {
  margin-left: 0;
  object-fit: cover;
  display: block;
}

/* HEADER */

header {
  position: fixed;
  height: 65px;
  width: 100vw;
  margin-bottom: 0px;
  background-color: #fff;
  z-index: 3;
}

header nav {
  width: 94vw;
  text-decoration: none;
  color: #000;
  height: 65px;
  padding-left: 0;
  margin-bottom: 0;
}

header nav a {
  height: 65px;
  vertical-align: middle;
}

header nav a h2 {
  height: 65px;
  margin: 0;
}

header #name {
  position: fixed;
  left: 3vw;
}

header #name h2 {
  padding-top: 12px ;
}

header #about-button {
  cursor: help;
}

p.big-titles {
  font-variation-settings: "wght" 700;
  white-space: nowrap;
  max-width: 94vw;
  object-fit: cover;
  top: 0px;
  margin: 17px 0px;
  position: -webkit-sticky;
  position: sticky;
}

header a {
  display: inline-block;
}

p.big-titles:hover {
  color: #b5b5b5;
}

main a:visited {
  color: rgb(107, 107, 107);
}

#about-button {
  position: fixed;
  background-color: #fff;
  width: 40px;
  top: 0;
  right: 2.5vw;
  height: 65px;
}

#about-button h2 {
  font-size: 51px;
  height: 31px;
  margin-top: 0px;
  z-index: 3;
}

#about header nav a#about-button {
  color: rgb(107, 107, 107);
}

/* MAIN */

main {
  position: relative;
  top: 65px;
  /* margin-bottom: 65px;
  padding-bottom: 100px; */
  overflow: scroll;
  overflow-x: hidden;
}

#index main {
  width: 94vw;
  margin-bottom: 65px;
  padding-bottom: 65px;
}

#about main {
  overflow: hidden;
}

main.index-crops,
main.full-images {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0px;
}

main hr {
  color: #000;
  background-color: #000;
  height: 4px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 13px;
}

/* INFO ASIDE */

aside {
  position: sticky;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 130px);
  top: 0px;
  z-index: 1;
  background-color: #fff;
}

#about aside {
  overflow: scroll !important;
}

aside p {
  margin: 0;
}

aside a {
  color: gray;
  text-decoration: none;
}

#rock aside {
  font-size: 0.9vw;
}

th {
  text-align: left;
  /* white-space: nowrap; */
}

blockquote {
  margin: 0;
}

/*****/
/*****/
/*****/

/* INDEX SETTINGS */

.index-crops {
  padding-left: 0;
  padding-right: 0;
}

.index-crops img {
  object-fit: cover;
  width: 100%;
  max-height: 122px;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  /* cursor: row-resize; */
}

#index main a:hover div p {
  color: grey;
}

/* INDEX ANIMATION */

/*

#index main a#rock-link:hover + a > img {
  max-height: 0;
  transition: max-height 0.35 ease-in;
}

#rock-link:has(+ #gips-link:hover) {
  background-color: aqua;
}

#index main #gips-link:hover + a > img {
  max-height: 0;
  transition: max-height 0.35 ease-in;
} */

/* SECTION */

section {
  margin-bottom: 13px;
}

/* DIVISION OF IMAGE AND INFO ASIDE */
/* - WITH 16:9 ASPECT RATIO */

#rock img,
#gips img,
section.fountain-transport img,
#block img {
  width: calc(16 * (100vh - 130px) / 9);
  height: calc(100vh - 130px);
}

#rock aside,
#gips aside,
aside.fountain-transport,
#block aside {
  width: calc(94vw - (16 * (100vh - 130px) / 9) - 1.5vw);
  left: calc(3vw + (16 * (100vh - 130px) / 9) + 1.5vw);
}

/* hr {
  width: calc(16 * (100vh - 130px) / 9);
} */

/* - WITH 86:61 ASPECT RATIO*/
#books img {
  width: calc(86 * (100vh - 130px) / 61);
  height: auto;
}

#books aside {
  height: auto;
  width: calc(94vw - (86 * (100vh - 130px) / 61) - 1.5vw);
  left: calc(3vw + (86 * (100vh - 130px) / 61) + 1.5vw);
}

/* - WITH 5:4 ASPECT RATIO */

#about img {
  width: calc(5 * (100vh - 130px) / 4);
  height: auto;
}

#about aside {
  height: auto;
  width: calc(94vw - (5 * (100vh - 130px) / 4) - 1.5vw);
  left: calc(3vw + (5 * (100vh - 130px) / 4) + 1.5vw);
}

/* hr {
  width: calc(86 * (100vh - 130px) / 61);
} */

/* - WITH 61:86 ASPECT RATIO*/
section.vertical-drawings img {
  height: calc(100vh - 130px);
  width: auto;
}

aside.vertical-drawings {
  height: calc(100vh - 130px);
  width: calc(61 * (100vh - 130px) / 86);
  left: calc(3vw + 2 * (61 * (100vh - 130px) / 86) + 1.5vw);
}

/* hr {
} */

/* - WITH 3:2 ASPECT RATIO */
#books img,
section.one-nest-stand img {
  width: calc(3 * (100vh - 130px) / 2);
  height: auto;
}

#books aside,
aside.one-nest-stand {
  height: auto;
  width: calc(94vw - (3 * (100vh - 130px) / 2) - 1.5vw);
  left: calc(3vw + (3 * (100vh - 130px) / 2) + 1.5vw);
}

/* #books main hr, #paper main hr {
  width: calc(86 * (100vh - 130px) / 61);
} */

/* TABLES */

/* PROJECTS SETTINGS */

.full-images img {
  padding-bottom: 13px;
}

#about .full-images img {
  padding: 0;
}

/* SCROLL SNAP */

main.full-images {
  height: calc(100vh - 130px);
  overflow-y: scroll;
  scroll-snap-type: y;
  scroll-snap-type: y mandatory;
}

main.full-images section img {
  height: calc(100vh - 130px);
  scroll-snap-align: center;
  scroll-margin-top: 0px;
  scroll-margin-bottom: -13px;
  scroll-snap-stop: always;
}

/* FOOTER */

footer {
  position: fixed;
  background-color: #fff;
  width: 100vw;
  bottom: 0px;
  left: 3vw;
  height: 50px;
  z-index: 3;
  vertical-align: baseline;
  padding-top: 15px;
}

/* footer #writing-hand {
  font-size: larger;
} */

footer #contact-info {
  padding-top: 14px;
}

footer a {
  color: rgb(107, 107, 107);

  text-decoration: none;
}

footer span#links {
  position: fixed;
  color: rgb(107, 107, 107);
  margin-left: 3px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 310px;
}

footer hr {
  position: fixed;
  right: 3vw;
  width: calc(94vw - 310px - 27px);
  color: #b5b5b5;
  background-color: #b5b5b5;
  border-width: 0;
  height: 2px;
  margin-top: 14px;
}

/* RESPONSIVE DESIGN FOR SMALLER SCREENS */

@media screen and (max-width: 925px) {
  header nav {
    height: 65px;
    width: 94vw;
  }

  header #about-button {
    height: 30px;
  }

  header #about-button h2 {
    position: fixed;
    margin-bottom: 0;
    top: 7px;
    right: 3vw;
    font-size: 40px;
  }

  /* DIVISION OF IMAGE AND INFO ASIDE */
  /* - WITH 16:9 ASPECT RATIO */

  img {
    width: 94vw !important;
    height: auto !important;
  }

  #rock aside {
    width: 94vw;
    left: 3vw;
    top: calc(65px + 9 * (94vw / 16) + 13px);
    height: calc(100vh - 65px - 9 * (94vw / 16) - 13px - 65px);
  }

  aside p {
    font-size: 12px;
    width: 94vw;
    text-align: left;
  }

  hr {
    width: 94vw;
  }

  thead {
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  tr {
    margin-bottom: 0.625em;
    display: inline-block;
    width: 94vw;
  }

  tr p {
    width: 47vw;
  }

  td {
    font-size: 0.8em;
    text-align: right;
  }
}

@media screen and (max-width: 800px) {
  .hide-on-mobile {
    display: none;
  }

  main {
    margin-bottom: 150px;
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 500px) {
  #name-listed-item {
    flex: 3 1 auto;
  }

  #about-listed-item {
    flex: 1 1 auto;
  }

  #about-listed-item a h2 {
    font-size: 47px;
    margin-top: -11px;
    text-align: center;
  }

  /* main.indexCrops, main.fullImages {
    padding-top: 0px;
  } */

  main {
    width: 94vw;
    margin-bottom: 94px;
    padding-bottom: 97px;
  }

  footer {
    height: 50px;
  }
}
